<html>
<body>
<h1>Wizard Example</h1>
<h2>Page 1 (Input Addresses)</h2>
<form action="<?php echo $_SERVER['PHP_SELF'] ?>?_bcid_=<?php echo Xhwlay_Var::get(XHWLAY_VAR_KEY_BCID, XHWLAY_VAR_NAMESPACE_VIEW) ?>" method="POST">
<table>
<tr><th>Zip Code</th><td><input type="text" name="zip" value="<?php echo @$GLOBALS['template']['f_zip']; ?>"></td></tr>
<tr><th>Address</th><td><input type="text" name="address" value="<?php echo @$GLOBALS['template']['f_address']; ?>"></td></tr>
<tr><th>Telephone</th><td><input type="text" name="telephone" value="<?php echo @$GLOBALS['template']['f_telephone']; ?>"></td></tr>
<tr><td colspan="2">
<input type="submit" name="_event_onBacktoPage0" value="&lt;&lt; Page 0" />
<input type="submit" name="_event_onSubmitPage2" value="&gt;&gt; Page 2" />
</td></tr>
</table>
</table>

</form>
<hr />
<ul>
<li>Page Position : <?php echo Xhwlay_Var::get(XHWLAY_VAR_KEY_PAGE, XHWLAY_VAR_NAMESPACE_VIEW) ?></li>
<li>Bookmark Container ID : <?php echo Xhwlay_Var::get(XHWLAY_VAR_KEY_BCID, XHWLAY_VAR_NAMESPACE_VIEW) ?></li>
<li><a href="login.php?_bcid_=<?php echo Xhwlay_Var::get(XHWLAY_VAR_KEY_BCID, XHWLAY_VAR_NAMESPACE_VIEW) ?>">Show Login Information</a></li>
<li><a href="login.php?_event_=onLogout&_bcid_=<?php echo Xhwlay_Var::get(XHWLAY_VAR_KEY_BCID, XHWLAY_VAR_NAMESPACE_VIEW) ?>">Logout</a></li>
</ul>
</body>
</html>
