<html>
<body>
<ul>
<li>Page Position : <?php echo $GLOBALS['template']['page']; ?></li>
<li>Bookmark Container ID : <?php echo $GLOBALS['template']['bcid']; ?></li>
<li>Session Count : <?php echo $GLOBALS['template']['count']; ?></li>
<li>User ID : <?php echo $GLOBALS['template']['user_id']; ?></li>
</ul>

<hr>
<h3><a href="main.php">Go to Wizard Example.</a></h3>
<hr>
<form action="" method="POST">
<input type="hidden" name="_event_" value="onLogout" />
<input type="submit" value="Logout" />
</form>
</body>
</html>
